.header__logo {
    margin-top: 45px;
    margin-bottom: 40.6px;
    max-width: 142px;
}

@media screen and (max-width: 700px) {
    .header__logo {
        max-width: 103px;
        margin-top: 28px;
        margin-left: 27px;
        margin-bottom: 31px;
    }
}