.form__submit-button {
    margin-top: 48px;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    line-height: 1.22;
    border: none;
    outline: none;
}

.form__submit-button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity .5s linear 0s;
}

@media screen and (max-width: 700px) {
    .form__submit-button {
        font-size: 16px;
    }
}