.footer__copyright {
    font-size: 18px;
    line-height: 1.22;
    color: #545454;
    margin: 0;
}

@media screen and (max-width: 901px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 1.21;
        margin: 0 auto;
        min-width: 282px;
        width: 95%;
    }
}