.photos__card-like-button {
    align-self: flex-end;
    margin-right: 22px;
    margin-left: auto;
    background-color: transparent;
    background-image: url(../../../../images/unlike-icon.svg);
    background-size: contain;
    outline: none;
    width: 20px;
    height: 18px;
    border: none;
}

.photos__card-like:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: opacity .5s linear 0s;
}