.profile__title {
    margin: 18px 0 16px 30px;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.33;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 295px;
}

@media screen and (max-width: 700px) {
    .profile__title {
        text-align: center;
        font-size: 27px;
        line-height: 2.07;
        max-width: 201px;
        margin: 0;
    }
}