.footer {
    max-width: 882px;
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 60px;
}

@media screen and (max-width: 700px) {
    .footer {
        width: 100%;
        padding-top: 48px;
        padding-bottom: 36px;
    }
}