.popup__container_style_preview-image {
    max-width: 75vw;
    max-height: 75vh;
    background-color: transparent;
    padding: 0;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    .popup__container_style_preview-image {
        width: auto;
    }
}