.form__title {
    color: black;
    margin: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.20;
}

@media screen and (max-width: 700px) {
    .form__title {
        font-size: 20px;
    }
}