.popup__close-button {
  position: absolute;
  top: -47px;
  right: -45px;
  background-image: url(../../../images/close-window.svg);
  background-color: transparent;
  background-size: contain;
  width: 57px;
  height: 57px;
  border: none;
  outline: none;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.5s linear 0s;
}

@media screen and (max-width: 700px) {
  .popup__close-button {
    width: 42px;
    height: 42px;
    top: -35px;
    right: -35px;
  }
}
