.popup__container {
    max-width: 430px;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    box-sizing: border-box;
    padding: 36px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    .popup__container {
        width: 75%;
        min-width: 240px;
    }
}