/** @format */

.photos {
  background-color: black;
  margin-left: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  row-gap: 20px;
  column-gap: 18px;
  margin: 0 auto;
  max-width: 882px;
}

@media screen and (max-width: 1024px) {
  .photos {
    grid-template-columns: repeat(2, 282px);
    max-width: 582px;
  }
}

@media screen and (max-width: 700px) {
  .photos {
    grid-template-columns: repeat(1, 282px);
    max-width: 282px;
  }
}
