/** @format */

.profile__add-image-button {
  width: 150px;
  height: 50px;
  align-self: center;
  margin-left: auto;
  background-image: url(../../../images/add-image.svg);
  background-color: transparent;
  background-position: center;
  background-size: 22px;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
}

.profile__add-image-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.5s linear 0s;
}

@media screen and (max-width: 700px) {
  .profile__add-image-button {
    width: 282px;
    margin: 0 auto;
    margin-top: 36px;
    background-size: 16px;
  }
}
